/* Result button */
 .btn {
  position:absolute;
  background-color: transparent;
  border-color:black;
  color:black;
  font-family: 'Alegreya Sans', sans-serif;
  text-align:center;
  cursor:pointer;
  font-size: 130%;
  padding: 0.5%;
  padding-left: 3%;
  padding-right: 3%;
}

/* Change button styling on hover */
.btn:hover{
  background-color: black;
  color: white;
  box-shadow: 0px 5px 10px grey;
  -ms-transform: scale(1.1); /* IE 9 */
  transform: scale(1.1); 
}

/*if something fails, its because I added from open src */
body {
  background-color: #3745c2;
  margin: 200px 40%;
}

form {
  background-color: #4654e1;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display:flex;
  flex-direction:row;
  align-items:center;
}

input {
  all: unset;
  font: 16px system-ui;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}
