/* background color for page */
html {
  background: linear-gradient(180DEG, #fddb92,#d1fdff);
  height: 111%;
}


/* search button */
 .btn {
  position:absolute;
  background-color: transparent;
  border-color:black;
  color:black;
  font-family: 'Alegreya Sans', sans-serif;
  text-align:center;
  cursor:pointer;
  font-size: 130%;
  padding: 0.5%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 5vh 5vh 5vh 5vh;
  outline: none;
}

/* search button on hover */
.btn:hover{
  background-color: black;
  outline: none;
  color: white;
  box-shadow: 0px 5px 10px grey;
  -ms-transform: scale(1.1); /* IE 9 */
  transform: scale(1.0); 
}

/* search bar styling */
.round {
  border-radius: 5vh 5vh 5vh 5vh; 
  width: 30%;
  height: 50px;
  padding-left: 3%;
  padding-right: 3%;
  background-color: transparent;
  outline: none;
}

/* Home elements centered on page */
p {
  display: flex;
  justify-content: center;
  padding-top: 1%;
}


/* title styling */
h1 {
  display: flex;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  font-size: 300%;
  color: white;
}

/* moves elements to vertical-center of page */
body {
  padding-top: 9%;
}

/*Creates rectangle around main elements of page */
.rectangle {
  background-color: white;
  border-radius: 3%;
  width: 10000px;
  height: 2000px;
